body {
  display: flex;
  flex-direction: column;
  background-color: #222;
  color: #AFA;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 70vw;
  margin: 0;
  width: 70vw;
  font-family: sans-serif;
}

.page_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  a {
    margin: 10px;
    background-color: #111;
    color: #EEE;
    text-decoration: none;
    padding: 5px;
  }
}

.user-stats-top {
  display: inline-block;
}

.username-bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
}

.profile-top {
  display: flex;
  flex-direction: row;
  align-content: center;
  h1 {
    color: #FFFFFF;
    margin: 0;
  }
  h2 {
    color: #777777;
    font-size: 15px;
    margin: 0;
  }
  h3 {
    color: #AAAAAA;
    font-size: 25px;
    margin: 0;
  }
  img {
    object-fit: cover;
    width: 250px;
    height: 250px;
    border-radius: 100%;
  }
}

.login-error {
  color: #AA0000;
}

.history {
  display: flex;
  justify-content: center;
  width: 100vw;
  table {
    width: 90%;
  }
  tr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
  }
  th, td {
    display: flex;
    justify-content: center;
    margin: 5px;
    width: 30%;
  }
  tr:nth-child(even) {
    background-color: #111;
  }
}
