body {
  display: flex;
  flex-direction: column;
  background-color: #222;
  color: #AFA;
  align-content: center;
  justify-content: center;
  text-align: center;
  max-width: 100vw;
  margin: 0;
}

.page_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  a {
    margin: 10px;
    background-color: #111;
    color: #EEE;
    text-decoration: none;
    padding: 5px;
  }
}

.history {
  display: flex;
  justify-content: center;
  width: 100vw;
  table {
    width: 90%;
  }
  tr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
  }
  th, td {
    display: flex;
    justify-content: center;
    margin: 5px;
    width: 30%;
  }
  tr:nth-child(even) {
    background-color: #111;
  }
}
