<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/files/style.css" type="text/css">
    <title>
      muzi | Create Account
    </title>
  </head>
  <body>
    <div class=login-form>
      <form action="/createaccountsubmit" method="POST">
        <label for="uname">Username:</label>
        <input type="text" id="uname" name="uname"> <br> <br>
        <label for="pass">Password:</label>
        <input type="password" id="pass" name="pass"> <br> <br>
        <input type="submit" value="Create Account">
        {{if eq .Error "length"}}
          <div class="login-error">
            Password must be 8-64 chars (inclusive).
          </div>
        {{end}}
        {{if eq .Error "session"}}
          <div class="login-error">
            Unable to create session. Please try again.
          </div>
        {{end}}
      </form>
    </div>
  </body>
</html>
