<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/files/style.css" type="text/css">
    <title>
      muzi | History
    </title>
  </head>
  <body>
    Scrobbles: {{.Content}}<br><br>
    <div class=history>
      <table>
      <tr>
        <th>Artist</th>
        <th>Title</th>
        <th>Timestamp</th>
      </tr>
        {{$artists := .Artists}}
        {{$times := .Times}}
        {{range $index, $title := .Titles}}
      <tr>
        <td>{{index $artists $index}}</td>
        <td>{{$title}}</td>
        <td>{{index $times $index}}</td>
      </tr>
        {{end}}
      </table>
    </div>
    {{$page := .Page}}
    <div class=page_buttons>
      <a href="/history?page={{Sub $page 1}}">Prev Page</a>
      <a href="/history?page={{Add $page 1}}">Next Page</a>
    </div>
  </body>
</html>
