<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="static/style.css" type="text/css">
    <title>
      muzi | Login
    </title>
  </head>
  <body>
    <div class=login-form>
      <form action="/loginsubmit" method="POST">
        <label for="uname">Username:</label>
        <input type="text" id="uname" name="uname"> <br> <br>
        <label for="pass">Password:</label>
        <input type="text" id="pass" name="pass"> <br> <br>
        <input type="submit" value="Login">
      </form>
    </div>
  </body>
</html>
